<mat-toolbar class="footer color-accent background-color-dark mat-elevation-z6">
  <a class="" href="https://angular.io/" target="_blank">
    <img src="/assets/images/angular-logo.svg" class="footer-logo" alt="Angular Logo">
  </a>
  <a class="" href="https://firebase.google.com/" target="_blank">
    <img src="/assets/images/firebase-logo.svg" class="footer-logo" alt="Firebase Logo">
  </a>
  <a class="" href="https://ngxs.gitbook.io/ngxs/" target="_blank">
    <img src="/assets/images/ngxs-logo.svg" class="footer-logo" alt="NGXS Logo">
  </a>
  <a class="" href="https://nikolabogdanic.com/" target="_blank">
    <img src="/assets/images/nikola-bogdanic-logo.svg" class="footer-logo" alt="Nikola Bogdanic Logo">
  </a>
</mat-toolbar>
